<div class="container advanced-search">
	<div class="row-fluid">
	  <div class="span6">
			<form>
				<h4>Services</h4>
				<div class="row-fluid">
	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> All Services
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Accountants
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Appraisers
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Construction
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Auctions
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Boardings
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Breeders
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Brokers
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Burial Services
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Care & Sitters
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Clubs
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Dentist
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Education
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Employment
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Entertainment
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Equipment
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Events
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Exercise Riders
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Farriers
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Feed Supply
				    </label>
	      	</div>
	      </div>
    	</form>
	  </div>
	  <div class="span6">
			<form>
				<h4>Disciplines</h4>
				<div class="row-fluid">
	      	<div class="span6">
	      		<label class="checkbox">
				      <input type="checkbox"> All Disciplines
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> All Around
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> All Purpose
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Barel Racing
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Cutting
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Dressage
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Endurance
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Eventing
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Hunter
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Show
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Polo
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Racing
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Reining
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Roping
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Trail
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Training
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Plesure
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Youth
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Other
				    </label>

	      	</div>
      	</div>
    	</form>
	  </div>
	</div>
	<hr class="divider">

	<div class="row-fluid">
		<div class="span12">
			<form>
				<h4>Locations</h4>
      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Any Location
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arabian
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Alaska
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arizona
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arkansas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> California
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Colorado
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Delaware
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Florida
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Georgia
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Hawai
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Idaho
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Illinois
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Indiana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Iowa
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Kansas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Kentucky
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Lousiana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Maine
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Maryland
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Massachussets
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Michigan
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Minnesota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Mississippi
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Missouri
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Montana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Nebraska
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Nevada
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New Hampshire
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New Jersey
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> New Mexico
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New York
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> North Carolina
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> North Dakota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Ohio
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Oklahoma
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Oregon
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Pennsylvania
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Rhode Island
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> South Carolina
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> South Dakota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Tennesse
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Texas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Utah
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Vermont
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Virginia
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Washington
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> West Virginia
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Wiconsin
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Wyoming
			    </label>
      	</div>
    	</form>
		</div>
	</div>
	<hr class="divider">
		<button type="submit" class="btn btn-primary" type="button">See Results</button>
	<hr class="divider">
</div>
