<div class="container advanced-search">
	<div class="row-fluid">
	  <div class="span6">
			<form>
				<h4><i class="icon-user"></i> Services</h4>
				<div class="row-fluid">
	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> All Services
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Accountants
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Appraisers
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Construction
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Auctions
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Boardings
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Breeders
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Brokers
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Burial Services
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Care & Sitters
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Clubs
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Dentist
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Education
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Employment
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Entertainment
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Equipment
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Events
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Exercise Riders
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Farriers
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Feed Supply
				    </label>
	      	</div>
	      </div>
    	</form>
	  </div>
	  <div class="span6">
			<form>
				<h4><i class="icon-fire"></i> Disciplines</h4>
				<div class="row-fluid">
	      	<div class="span6">
	      		<label class="checkbox">
				      <input type="checkbox"> All Disciplines
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> All Around
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> All Purpose
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Barel Racing
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Cutting
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Dressage
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Endurance
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Eventing
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Hunter
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Show
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Polo
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Racing
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Reining
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Roping
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Trail
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Training
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Plesure
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Youth
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Other
				    </label>

	      	</div>
      	</div>
    	</form>
	  </div>
	</div>
	<hr class="divider">

	<%= render "shared/locations_search_category" %>

	<%= render "shared/search_category_button" %>
</div>
