<div class="container advanced-search">
	<div class="row-fluid">
	  <div class="span8">
			<form>
				<h4><i class="icon-shopping-cart"></i> Tacks</h4>
				<div class="row-fluid">
	      	<div class="span4">
				    <label class="checkbox">
				      <input type="checkbox"> All Tack
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Accessories
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Barn Supplies
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Breast Collars
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Browbands & Nosebands
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Chaps
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Cinches
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Girths
				    </label>
	      	</div>

	      	<div class="span4">
	      		<label class="checkbox">
				      <input type="checkbox"> Grooming
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Halters
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Headstalls
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Helmets
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Horse Boots
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Horse Blankets
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Miniature
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Reins
				    </label>
				   
	      	</div>

	      	<div class="span4">
			     	<label class="checkbox">
				      <input type="checkbox"> Saddle Bags
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Saddle Pads
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Saddle Racks
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Show Apparel
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Show Tack
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Spurs
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Stirrups
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Other
				    </label>
	      	</div>
	      </div>
    	</form>
	  </div>
	  <div class="span2">
			<form>
				<h4><i class="icon-flag"></i> Types</h4>
				<div class="row-fluid">
	      	<div class="span12">
	      		<label class="checkbox">
				      <input type="checkbox"> All Types
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Australian
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> English
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Western
				    </label>
	      	</div>
      	</div>
    	</form>
	  </div>
	   <div class="span2">
			<form>
				<h4><i class="icon-question-sign"></i> Conditions</h4>
				<div class="row-fluid">
	      	<div class="span12">
	      		<label class="checkbox">
				      <input type="checkbox"> All Conditions
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Antique
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> New
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Used
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Excellent
				    </label>
	      	</div>
      	</div>
    	</form>
	  </div>
	</div>
	<hr class="divider">
	
	<%= render "shared/search_category_button" %>

</div>