.container
  br/
  h4 Select Ad Type
  ul#ads-tab.nav.nav-tabs
    li.active
      a href="#horses"  Horses
    li
      a href="#studs"  Studs
    li
      a href="#trailers"  Trailers
    li
      a href="#tacks"  Tacks
    li
      a href="#real-estates"  Real Estates
    li
      a href="#services"  Services
  h4 Select Ad Package
  .tab-content
    #horses.row.tab-pane.active
      - @horsePackages.each do |package|
        dl.span3.pricing-wrapper
          dt= link_to "Package #{package.name}" , place_horse_path(package)
          dd
            | Price: #{package.price}
          dd
            | Duration: #{package.duration}
          dd
            | Max Photo Upload: #{package.max_photo_upload}
          dd
            | Max Video Upload: #{package.max_video_upload}
    #studs.row.tab-pane
      - @studPackages.each do |package|
        dl.span3.pricing-wrapper
          dt= link_to "Package #{package.name}", place_stud_path(package)
          dd
            | Price: #{package.price}
          dd
            | Duration: #{package.duration}
          dd
            | Max Photo Upload: #{package.max_photo_upload}
          dd
            | Max Video Upload: #{package.max_video_upload}
    #trailers.row.tab-pane
      - @trailerPackages.each do |package|
        dl.span3.pricing-wrapper
          dt= link_to "Package #{package.name}", new_package_trailer_path(package)
          dd
            | Price: #{package.price}
          dd
            | Duration: #{package.duration}
          dd
            | Max Photo Upload: #{package.max_photo_upload}
          dd
            | Max Video Upload: #{package.max_video_upload}
    #tacks.row.tab-pane
      - @tackPackages.each do |package|
        dl.span3.pricing-wrapper
          dt= link_to "Package #{package.name}", place_tack_path(package)
          dd
            | Price: #{package.price}
          dd
            | Duration: #{package.duration}
          dd
            | Max Photo Upload: #{package.max_photo_upload}
          dd
            | Max Video Upload: #{package.max_video_upload}
    #real-estates.row.tab-pane
      - @realEstatePackages.each do |package|
        dl.span3.pricing-wrapper
          dt= link_to "Package #{package.name}", place_real_estate_path(package)
          dd
            | Price: #{package.price}
          dd
            | Duration: #{package.duration}
          dd
            | Max Photo Upload: #{package.max_photo_upload}
          dd
            | Max Video Upload: #{package.max_video_upload}
    #services.row.tab-pane
      - @servicePackages.each do |package|
        dl.span3.pricing-wrapper
          dt= link_to "Package #{package.name}", place_service_path(package)
          dd
            | Price: #{package.price}
          dd
            | Duration: #{package.duration}
          dd
            | Max Photo Upload: #{package.max_photo_upload}
          dd
            | Max Video Upload: #{package.max_video_upload}


= javascript_include_tag 'ads', 'data-turbolinks-track' => true