.container
  .row-fluid
    .span8.join-us
      .join-us
        = image_tag 'join-us.png'
    .span3
      .quick-links
        ul.nav.nav-list
          li.nav-header Quick Links
          li
            a href="#"  Horses for sale
          li
            a href="#"  Studs for sale
          li
            a href="#"  Trailers for sale
          li
            a href="#"  Tacks for sale
          li
            a href="#"  Real Estates for sale
          li
            a href="#"  Services
    .span1
      a href="https://facebook.com" 
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x
      a href="https://twitter.com" 
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitter.fa-stack-1x
      a href="https://instagram.com" 
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-instagram.fa-stack-1x
      a href="https://pinterest.com" 
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-pinterest.fa-stack-1x

  .row-fluid
    .span8

    .span4
      | © 2014 MountSeek. All Right Reserved

      
