 <div class="container">
    <div class="row-fluid">
      <div class="span6 join-us">
        <div class="join-us">
          <%= image_tag 'join-us.png' %>
        </div>
      </div>
      <div class="span6">
        <div class="quick-links">
          <ul class="nav nav-list">
            <li class="nav-header">Quick Links</li>
            <li><a href="#">Horses for sale</a></li>
            <li><a href="#">Studs for sale</a></li>
            <li><a href="#">Trailers for sale</a></li>
            <li><a href="#">Tacks for sale</a></li>
            <li><a href="#">Real Estates for sale</a></li>
            <li><a href="#">Services</a></li>
          </ul>
          <span>© 2014 MountSeek. All Right Reserved</span>
        </div>
        
      </div>
    </div>
    
  </div>  