<div class="container advanced-search">
	<div class="row-fluid">
	  <div class="span6">
			<form>
				<h4>Breeds</h4>
				<div class="row-fluid">
	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Any Breed
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Arabian
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Big Hair
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Colors & Spots
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Drafts
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Gaited
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Baroque
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Mustang
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Pinto
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Quarter Horse
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Rare & Exotic
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Warmblood
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Thoroughbred
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Working Horse
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Non Horse
				    </label>
	      	</div>
	      </div>
    	</form>
	  </div>
	  <div class="span6">
			<form>
				<h4>Genders</h4>
				<div class="row-fluid">
	      	<div class="span6">
	      		<label class="checkbox">
				      <input type="checkbox"> Any Gender
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Males
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Females
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Fillies
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Geldings
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Ridglings
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Mares
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Stallions
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Uboarn Foals
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Broodmares
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Ridglings
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Weanlings
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Yearlings
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Folas
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Unknown
				    </label>

	      	</div>
      	</div>
    	</form>
	  </div>
	</div>
	<hr class="divider">

	<div class="row-fluid">
		<div class="span12">
			<form>
				<h4>Locations</h4>
      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Any Location
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arabian
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Alaska
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arizona
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arkansas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> California
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Colorado
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Delaware
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Florida
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Georgia
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Hawai
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Idaho
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Illinois
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Indiana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Iowa
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Kansas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Kentucky
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Lousiana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Maine
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Maryland
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Massachussets
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Michigan
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Minnesota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Mississippi
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Missouri
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Montana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Nebraska
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Nevada
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New Hampshire
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New Jersey
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> New Mexico
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New York
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> North Carolina
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> North Dakota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Ohio
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Oklahoma
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Oregon
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Pennsylvania
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Rhode Island
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> South Carolina
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> South Dakota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Tennesse
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Texas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Utah
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Vermont
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Virginia
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Washington
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> West Virginia
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Wiconsin
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Wyoming
			    </label>
      	</div>
    	</form>
		</div>
	</div>
	<hr class="divider">
		<button type="submit" class="btn btn-primary" type="button">See Results</button>
	<hr class="divider">
</div>


