<div class="row-fluid">
  <div class="span6">
		<form>
			<h4><i class="icon-tint"></i> Breeds</h4>
			<div class="row-fluid">
      	<div class="span6">
			    <label class="checkbox">
			      <input type="checkbox"> Any Breed
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arabian
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Big Hair
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Colors & Spots
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Drafts
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Gaited
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Baroque
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Mustang
			    </label>
      	</div>

      	<div class="span6">
			    <label class="checkbox">
			      <input type="checkbox"> Pinto
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Quarter Horse
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Rare & Exotic
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Warmblood
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Thoroughbred
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Working Horse
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Non Horse
			    </label>
      	</div>
      </div>
  	</form>
  </div>
  <div class="span6">
		<form>
			<h4><i class="icon-tags"></i> Genders</h4>
			<div class="row-fluid">
      	<div class="span6">
      		<label class="checkbox">
			      <input type="checkbox"> Any Gender
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Males
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Females
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Fillies
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Geldings
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Ridglings
			    </label>
			     <label class="checkbox">
			      <input type="checkbox"> Mares
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Stallions
			    </label>
      	</div>

      	<div class="span6">
			    <label class="checkbox">
			      <input type="checkbox"> Uboarn Foals
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Broodmares
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Ridglings
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Weanlings
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Yearlings
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Folas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Unknown
			    </label>

      	</div>
    	</div>
  	</form>
  </div>
</div>
<hr class="divider">