<div class="row">
	<div class="col-md-12">
		<form>
			<h4><i class="icon-globe"></i> Locations</h4>
    	<div class="col-md-2">
		    <label class="checkbox">
		      <input type="checkbox"> Any Location
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Arabian
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Alaska
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Arizona
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Arkansas
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> California
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Colorado
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Delaware
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Florida
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Georgia
		    </label>
    	</div>

    	<div class="col-md-2">
		    <label class="checkbox">
		      <input type="checkbox"> Hawai
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Idaho
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Illinois
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Indiana
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Iowa
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Kansas
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Kentucky
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Lousiana
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Maine
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Maryland
		    </label>
    	</div>

    	<div class="col-md-2">
		    <label class="checkbox">
		      <input type="checkbox"> Massachussets
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Michigan
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Minnesota
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Mississippi
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Missouri
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Montana
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Nebraska
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Nevada
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> New Hampshire
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> New Jersey
		    </label>
    	</div>

    	<div class="col-md-2">
		    <label class="checkbox">
		      <input type="checkbox"> New Mexico
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> New York
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> North Carolina
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> North Dakota
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Ohio
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Oklahoma
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Oregon
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Pennsylvania
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Rhode Island
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> South Carolina
		    </label>
    	</div>

    	<div class="col-md-2">
		    <label class="checkbox">
		      <input type="checkbox"> South Dakota
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Tennesse
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Texas
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Utah
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Vermont
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Virginia
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Washington
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> West Virginia
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Wiconsin
		    </label>
		    <label class="checkbox">
		      <input type="checkbox"> Wyoming
		    </label>
    	</div>
  	</form>
	</div>
</div>
<hr class="divider">