.container.advanced-search
	#spin style="display:none;"  
	= search_form_for @search_horses, url: horses_result_path, :html => {role: "form"} do |f|

		= render "home/shared/horses_checkbox"
			
		= f.submit "Search"
 
	hr

	- if @horses
		- horses_found = @horses.count
	- else 
		- horses_found = 0 
	h4#result= "#{horses_found} Horses Found"


javascript:
	var target = $('#spin');

	var breeds = [];
	$('form :checkbox[id^="q_breed_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			breeds.push(this.value);
		} else {
			breeds.splice( $.inArray(this.value,breeds) ,1 );
		}
		
		console.log(breeds);
		
    $.get( '/horses-filter', { "q[breed_cont_any][]": breeds, "q[gender_cont_any][]": genders, "q[state_cont_any][]": states}, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    	
    });
    
	});

	var genders = [];
	$('form :checkbox[id^="q_gender_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});

		if (this.checked) {
			genders.push(this.value);
		} else {
			genders.splice( $.inArray(this.value,genders) ,1 );
		}
		
		console.log(genders);
		
    $.get( '/horses-filter', { "q[breed_cont_any][]": breeds, "q[gender_cont_any][]": genders, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});


	var states = [];
	$('form :checkbox[id^="q_state_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});

		if (this.checked) {
			states.push(this.value);
		} else {
			states.splice( $.inArray(this.value, states) ,1 );
		}
		
		console.log(states);
		
    $.get( '/horses-filter', { "q[breed_cont_any][]": breeds, "q[gender_cont_any][]": genders, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});



