.container.advanced-search
	#spin style="display:none;"
	= search_form_for @search_studs, url: studs_result_path, :html => {role: "form"} do |f|

		= render "home/shared/studs_checkbox"
			
		= f.submit "Search"
 

	hr

	- if @studs
		- studs_found = @studs.count
	- else 
		- studs_found = 0 
	h4#result= "#{studs_found} Studs Found"


javascript:
	var target = $('#spin');

	var breeds = [];
	$('form :checkbox[id^="q_breed_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			breeds.push(this.value);
		} else {
			breeds.splice( $.inArray(this.value,breeds) ,1 );
		}
		
		console.log(breeds);
		
    $.get( '/studs-filter', { "q[breed_cont_any][]": breeds, "q[ai_type_cont_any][]": ai_types, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});

	var ai_types = [];
	$('form :checkbox[id^="q_ai_type_cont_any_"]').click(function() {

		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			ai_types.push(this.value);
		} else {
			ai_types.splice( $.inArray(this.value,ai_types) ,1 );
		}
		
		console.log(ai_types);
		
    $.get( '/studs-filter', { "q[breed_cont_any][]": breeds, "q[ai_type_cont_any][]": ai_types, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});


	var states = [];
	$('form :checkbox[id^="q_state_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			states.push(this.value);
		} else {
			states.splice( $.inArray(this.value, states) ,1 );
		}
		
		console.log(states);
		
    $.get( '/studs-filter', { "q[breed_cont_any][]": breeds, "q[ai_type_cont_any][]": ai_types, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});