.container.advanced-search
	#spin style="display:none;"
	= search_form_for @search_studs, url: studs_result_path, :html => {role: "form"} do |f|

		.row
		  .col-md-6
	      h4 Breeds
	      .row
	      	- @breeds.in_groups_of(7).each do |breed_group|
	      		.col-md-6
	      			- breed_group.each do |breed|
	      				- unless breed.nil?
	      					= check_box_tag "q_breed_cont_any_#{breed.id}", breed.name, breed.checked, name: 'q[breed_cont_any][]'

	      					= label_tag "q_breed_cont_any_#{breed.id}", breed.name
	      					br
	      .row
		 			.col-md-6
		 				h4 Ai Types
		 				- @ai_types.each do |ai_type|
		 					= check_box_tag "q_ai_type_cont_any_#{ai_type.id}", ai_type.name, ai_type.checked, name: 'q[ai_type_cont_any][]'
		 					= label_tag "q_ai_type_cont_any_#{ai_type.id}", ai_type.name
							br

		.row
			h4 Locations
			- @states.in_groups_of(20).each do |state_group|
				.col-md-3
					- state_group.each do |state|
						- unless state.nil?
							= check_box_tag "q_state_cont_any_#{state.id}", state.name, state.checked, name: 'q[state_cont_any][]'
							= label_tag "q_state_cont_any_#{state.id}", state.name
							br

			
		= f.submit "Search"
 

	hr

	- if @studs
		- studs_found = @studs.count
	- else 
		- studs_found = 0 
	h4#result= "#{studs_found} Studs Found"


javascript:
	var target = $('#spin');

	var breeds = [];
	$('form :checkbox[id^="q_breed_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			breeds.push(this.value);
		} else {
			breeds.splice( $.inArray(this.value,breeds) ,1 );
		}
		
		console.log(breeds);
		
    $.get( '/studs-filter', { "q[breed_cont_any][]": breeds, "q[ai_type_cont_any][]": ai_types, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});

	var ai_types = [];
	$('form :checkbox[id^="q_ai_type_cont_any_"]').click(function() {

		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			ai_types.push(this.value);
		} else {
			ai_types.splice( $.inArray(this.value,ai_types) ,1 );
		}
		
		console.log(ai_types);
		
    $.get( '/studs-filter', { "q[breed_cont_any][]": breeds, "q[ai_type_cont_any][]": ai_types, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});


	var states = [];
	$('form :checkbox[id^="q_state_cont_any_"]').click(function() {
		target.show();
		new Spinner().spin(target[0]);
		$('.advanced-search').css({opacity: '0.3'});
		if (this.checked) {
			states.push(this.value);
		} else {
			states.splice( $.inArray(this.value, states) ,1 );
		}
		
		console.log(states);
		
    $.get( '/studs-filter', { "q[breed_cont_any][]": breeds, "q[ai_type_cont_any][]": ai_types, "q[state_cont_any][]": states }, function(data) {
    	target.hide();
    	$('.advanced-search').css({opacity: '1'});
    });
    
	});