.container.advanced-search
  #spin style="display:none;"  
  = search_form_for @search_tacks, url: tacks_result_path, :html => {role: "form"} do |f|

    = render "home/shared/tacks_checkbox"

    = f.submit "Search"


  hr

  - if @tacks
    - tacks_found = @tacks.count
  - else 
    - tacks_found = 0 
  h4#result= "#{tacks_found} Tacks Found"


javascript:
  var target = $('#spin');

  var tacks = [];
  $('form :checkbox[id^="q_tack_cont_any_"]').click(function() {
    target.show();
    new Spinner().spin(target[0]);
    $('.advanced-search').css({opacity: '0.3'});
    if (this.checked) {
      tacks.push(this.value);
    } else {
      tacks.splice( $.inArray(this.value,tacks) ,1 );
    }
    
    console.log(tacks);
    
    $.get( '/tacks-filter', { "q[tack_cont_any][]": tacks, "q[tack_type_cont_any][]": types, "q[condition_cont_any][]": conditions }, function(data) {
      target.hide();
      $('.advanced-search').css({opacity: '1'});
    });
    
  });

  var types = [];
  $('form :checkbox[id^="q_tack_type_cont_any_"]').click(function() {
    target.show();
    new Spinner().spin(target[0]);
    $('.advanced-search').css({opacity: '0.3'});
    if (this.checked) {
      types.push(this.value);
    } else {
      types.splice( $.inArray(this.value,types) ,1 );
    }
    
    console.log(types);
    
    $.get( '/tacks-filter', { "q[tack_cont_any][]": tacks, "q[tack_type_cont_any][]": types, "q[condition_cont_any][]": conditions }, function(data) {
      target.hide();
      $('.advanced-search').css({opacity: '1'});
    });
    
  });

  var conditions = [];
  $('form :checkbox[id^="q_condition_cont_any_"]').click(function() {
    target.show();
    new Spinner().spin(target[0]);
    $('.advanced-search').css({opacity: '0.3'});
    if (this.checked) {
      conditions.push(this.value);
    } else {
      conditions.splice( $.inArray(this.value,conditions) ,1 );
    }
    
    console.log(conditions);
    
    $.get( '/tacks-filter', { "q[tack_cont_any][]": tacks, "q[tack_type_cont_any][]": types, "q[condition_cont_any][]": conditions }, function(data) {
      target.hide();
      $('.advanced-search').css({opacity: '1'});
    });
    
  });