<div class="container advanced-search">
	<div class="row-fluid">
	  <div class="span6">
			<form>
				<h4>Brands</h4>
				<div class="row-fluid">
	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> Any Brands
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> 4 Start
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> A Wincester
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Adam
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Alumline
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> All American
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> American
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> American Spirit
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Anderson
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Arndt
				    </label>
	      	</div>

	      	<div class="span6">
				    <label class="checkbox">
				      <input type="checkbox"> B&J
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Bales
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Barret
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Bee
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Big Valey
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Bison
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Bloomer
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Blue Ribbon
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Boeckmann
				    </label>
	      	</div>
	      </div>
    	</form>
	  </div>
	  <div class="span6">
			<form>
				<h4>Features</h4>
				<div class="row-fluid">
	      	<div class="span6">
	      		<label class="checkbox">
				      <input type="checkbox"> Any Features
				    </label>
	      		<label class="checkbox">
				      <input type="checkbox"> Air Conditioning
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Awning
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Bed
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Bunmp Out
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Cooktop
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Dinette
				    </label>
				     <label class="checkbox">
				      <input type="checkbox"> Dressing Room
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Escape Door
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Enclosed
				    </label>
				   
	      	</div>

	      	<div class="span6">
      		 	<label class="checkbox">
				      <input type="checkbox"> Generator
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Hayrack
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Mangers
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Midtack
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Living Quarters
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Radio
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Ramp
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Refrigerator
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Shortwall
				    </label>
				    <label class="checkbox">
				      <input type="checkbox"> Shower
				    </label>

	      	</div>
      	</div>
    	</form>
	  </div>
	</div>
	<hr class="divider">

	<div class="row-fluid">
		<div class="span12">
			<form>
				<h4>Locations</h4>
      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Any Location
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arabian
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Alaska
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arizona
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Arkansas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> California
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Colorado
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Delaware
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Florida
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Georgia
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Hawai
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Idaho
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Illinois
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Indiana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Iowa
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Kansas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Kentucky
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Lousiana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Maine
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Maryland
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> Massachussets
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Michigan
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Minnesota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Mississippi
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Missouri
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Montana
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Nebraska
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Nevada
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New Hampshire
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New Jersey
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> New Mexico
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> New York
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> North Carolina
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> North Dakota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Ohio
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Oklahoma
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Oregon
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Pennsylvania
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Rhode Island
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> South Carolina
			    </label>
      	</div>

      	<div class="span2">
			    <label class="checkbox">
			      <input type="checkbox"> South Dakota
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Tennesse
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Texas
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Utah
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Vermont
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Virginia
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Washington
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> West Virginia
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Wiconsin
			    </label>
			    <label class="checkbox">
			      <input type="checkbox"> Wyoming
			    </label>
      	</div>
    	</form>
		</div>
	</div>
	<hr class="divider">
		<button type="submit" class="btn btn-primary" type="button">See Results</button>
	<hr class="divider">
</div>