/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require social-share-button
 *= require owl.carousel
 *= require owl.theme
 *= require font-awesome
 *= require_tree .
 *= require_self
 */



.navbar-fixed-top {
	margin-bottom: 0px;

	.navbar-inner {
		padding: 5px 0px;
    color: #fffffd;

    background-image: linear-gradient(to bottom, #8DCBBC, #49B198);
    border-bottom: solid 1px #49B198;

    a {
      color: #fffffd;
    }

    .nav > li > a {
      color: #fffffd;
    }

    .nav > li > a:hover {
      color: #49B198;
    }

    .dropdown-menu {
      li > a {
        color: #49B198;
      }

      li > a:hover {
        color: #fffffd;
        background-color: #49B198;
      }
    }


		#avatar {
			width: 50px;
			height: auto;
			border-radius: 50%;
			background-color: #fffffd;
		}

    .sign-up {
      a {
        padding-right: 6px;
      }
    }

    .sign-in {
      border-left: 1px solid;
      margin-top: 10px;

      a {
        padding: 0px 0px 0px 6px;
      }
    }

	}
}


footer {

	color: #fffffd;
	background-color: #393939;

	.container {
		padding: 20px 0px;

		.join-us {
			img {
				display: block;
			}
		}

		.quick-links {
			float: right;

			.nav-list > li > a {
				text-shadow: none;
				color: #fffffd;
			}

			.nav-list > li > a:hover {
				background-color: transparent;
			}

			.nav-header {
				font-size: 14px;
				color: #fffffd;
			}

			.nav-list {
				margin-left: -18px;
				margin-bottom: 40px;
			}
		}

		.span1 {
			a {
					color: #fff;
			}
			.fa-stack {

				.fa-circle {
					color: #49b198;
				}
			}
		} 

	}


}

a:hover {
	background-color: transparent;
}

