/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap
 *= require social-share-button
 *= require owl.carousel
 *= require owl.theme
 *= require font-awesome
 *= require_tree .
 *= require_self
 */



.navbar-static-top {

	padding: 5px 0px;
  color: #fffffd;

  background-image: linear-gradient(to bottom, #8DCBBC, #49B198);
  border-bottom: solid 1px #49B198;

  a {
    color: #fffffd;
  }

  .nav > li > a {
    color: #fffffd;
  }

  .nav > li > a:hover {
    color: #49B198;
  }

  .dropdown-menu {
    li > a {
      color: #49B198;
    }

    li > a:hover {
      color: #fffffd;
      background-color: #49B198;
    }
  }


	#avatar {
		width: 50px;
		height: auto;
		border-radius: 50%;
		background-color: #fffffd;
	}


  .fa-stack {
    .fa-circle {
      color: #49b198;
    }
  }

  .sign-up {
    a {
      padding-right: 6px;
    }
  }

  .sign-in {
    border-left: 1px solid;
    margin-top: 15px;

    a {
      padding: 0px 0px 0px 6px;
    }
  }

}


footer {

	color: #fffffd;
	background-color: #393939;

	.container {
		padding: 20px 0px;

		.join-us {
			img {
				display: block;
			}
		}

		.quick-links {

			.nav-list > li > a {
				text-shadow: none;
				color: #fffffd;
			}

			.nav-list > li > a:hover {
				background-color: transparent;
			}

			.nav-header {
				font-size: 14px;
				color: #fffffd;
			}

			.nav-list {
				margin-left: -18px;
				margin-bottom: 40px;
			}
		}

		.col-md-1 {
			a {
				color: #fff;
			}
			.fa-stack {
				display: block;
				.fa-circle {
					color: #49b198;
				}
			}
		} 



	}


}

a:hover {
	background-color: transparent;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.thumbnail {
	padding: 5px 8px;
}

.row.filter {
	margin: 20px 0;
}

.col-md-4 {
	padding-left: 0;
	.text-center {
		text-align: left;
	}
	ul.pagination {
		margin: 0;
	}
}

.form-horizontal {


	.form-group, .row {
		margin-left: 0;
		margin-right: 0;
	
		.col-md-6 {
			padding-left: 0;
		}	
	}
}

section {
	background-color: #f1f1f1;
	margin-top: -20px;
	height: 100%;

	p.count.cap {
		font-size: .875em!important;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: .12em;
		margin: 0;
		a {
			text-decoration: none;
		}
	}

	input.form-control, textarea.form-control, select.form-control {
		font-size: 1.2em;
		line-height: 1.5em;
		padding: 15px 15px 14px;
	}

	input.form-control, select.form-control {
		height: 59px;
	}


	select.form-control {
		color:  #9C9999;
	}

	.form-group.boolean {
		label {
			margin: 18px 0 0;
			font-weight: normal;
			font-size: 1.2em;
			color:  #9C9999;
			input[type=checkbox] {
				clear: none;
				cursor: pointer;
				opacity: 1;
				height: 23px;
				width: 23px;
			}
		}
	} 

	.button-container {
		display: table;
		text-align: center;
		width: 100%;
		margin-bottom: 40px;
	}

	input.btn-submit {
		background: #619b43!important;
		color: #f1f1f1;
		text-transform: uppercase;
		font-size: .9em;
		font-style: normal;
		letter-spacing: .15em;
		line-height: 18px;
	}

	.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
		color: #f1f1f1;
	}

	p.count {
		margin: 30px 0;
		a {
			color: #999;
			text-decoration: underline;
		}
	}

}

.profile_header {
	width: 100%;
	padding: 50px 0;
	margin: 0 auto;
	text-align: center;

	h1 {
		color: #444;
		font-size: 3em;
		line-height: 1.1em;
		text-transform: uppercase;
		margin: 0 auto -8px;
		border: none;
		padding: 0;
		letter-spacing: .05em;
		font-family: Baskerville,georgia,serif;
		font-style: italic;
		font-weight: 400;
	}

	h2 {
		margin: 20px auto 0;
		color: #B7853D;
		font-size: 1em;
		max-width: 500px;
		line-height: 1.5em;
		font-family: Proxima,sans-serif;
		font-style: normal;
		font-weight: 400;
		padding: 0;
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	
	a {
		text-decoration: underline;
		color: #B7853D;
	}
}


section#profile {
	.outer {
		padding: 30px;
		max-width: 1020px;
		background: #fff;
		margin: 0 auto 90px;
	}
}


.inner {
		border: 1px solid #e2e2e2;
		max-width: 960px;
		margin: 0 auto;
		position: relative;

		.border-bottom {
			border-bottom: 1px solid #e2e2e2;
		}

		.document {
			margin: 0 auto;
			background: #fff;
			max-width: 960px;

			h2.followon {
				font-size: 1.4em;
				color: #B7853D;
				line-height: 1.5em;
				font-family: georgia,serif;
				font-style: normal;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: .09em;
				padding: 0 0 12px;
				margin-bottom: 35px;
				text-align: center;
			}

			h3 {
				margin: 20px 0 35px;
				text-transform: uppercase;
				font-family: georgia,serif;
				font-size: 1.4em;
				text-align: center;
				letter-spacing: .15em;
				color: #666;
			}

			.document-wrapper {
				margin: 0 auto;
				padding: 30px 20px;
				position: relative;
				max-width: 800px;

				.text.ten {
					position: relative;
					margin: 0 auto;
					width: 83.333%;
				}
			}
		}
}



.terms_cond {
	padding-top: 15px;
	font-size: .9em!important;
	color: #999;
	text-align: center;
}

