// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
	padding: 30px 0px 30px 0px;
	background-color: #eee;
	height: auto;
	margin-top: -20px;
	background-image: asset-url("horse-banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	#background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;

	#quick-search {
		color: #fffffd;
		width: 600px;
		height: auto;
		padding: 20px 20px;
		background-color: rgba(0, 0, 0, 0.6);
		border-top-right-radius: 0.5em;
		border-bottom-right-radius:0.5em;

		.nav-pills > li > a {
				text-shadow: none;
				color: #fffffd;
		}

		.nav-pills > li > a:hover {
			background-color: #49b198;
		}

		.input-append .add-on {
			background-color: #49b198;
		}

		
	}

	.form-search {
		.input-append {
			.input-large {
				height: 25px;
				width: 500px
			}
			.add-on {
				width: 25px;
				height: 25px;
			}
		}
	}



}

.container {
	.owl-item {
		padding: 5px;
	}

	.empty-ad {
		width: auto;
		height: 200px;
		background-color: grey;
	}

}

.ad-option {
	background: #444;
	display: block;
	width: 100%;
	padding: 25px 0;
	text-decoration: none;
	text-align: center;
	.count {
		text-align: center;
		display: block;
		padding: 0 14px 5px;
		text-transform: uppercase;
		font-size: .9em!important;
		letter-spacing: .3em;
		color: #999;
		line-height: 1.25em;
	}
	.followon {
		font-size: 3.6em;
		position: relative;
		display: inline-block;
		margin-bottom: 0;
		line-height: 1em;
		letter-spacing: .025em;
		padding-bottom: 0;
		color: #B7853D;
		line-height: 1.5em;
		font-family: georgia,serif;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: .09em;
		padding: 0 0 12px;
		margin-bottom: 35px;
		text-align: center;

		.dollar {
			font-size: .35em;
			position: absolute;
			top: -7px;
			text-indent: -17px;
		}
	}
}

ul.inner {
	border: 1px solid #e2e2e2;
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	li {
		list-style: none;
		border-bottom: 1px solid #e2e2e2;
		p {
			font-size: 1em;
			color: #999;
			margin: 0;
			padding: 12px 8%;
		}

	}
	li.place-container {

		a {
			width: 100%;
			padding: 16px 0 14px;
			text-decoration: none;
			display: block;
			text-align: center;
		}

		.btn-gold {
			background-color: #B7853D!important;
			color: #f6f6f6;
			border-radius: 0px;
		}
	}


}
